*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle/wrapper/gradle-wrapper.properties
repo/com/wz/plugin/greeting/maven-metadata.xml
repo/com/wz/plugin/greeting/maven-metadata.xml.md5
repo/com/wz/plugin/greeting/maven-metadata.xml.sha1
repo/com/wz/plugin/greeting/maven-metadata.xml.sha256
repo/com/wz/plugin/greeting/maven-metadata.xml.sha512
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.jar
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.jar.md5
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.jar.sha1
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.jar.sha256
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.jar.sha512
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.module
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.module.md5
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.module.sha1
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.module.sha256
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.module.sha512
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.pom
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.pom.md5
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.pom.sha1
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.pom.sha256
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.081928-1.pom.sha512
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.jar
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.jar.md5
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.jar.sha1
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.jar.sha256
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.jar.sha512
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.module
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.module.md5
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.module.sha1
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.module.sha256
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.module.sha512
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.pom
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.pom.md5
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.pom.sha1
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.pom.sha256
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/greeting-1.0-20240423.082018-2.pom.sha512
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/maven-metadata.xml
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/maven-metadata.xml.md5
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/maven-metadata.xml.sha1
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/maven-metadata.xml.sha256
repo/com/wz/plugin/greeting/1.0-SNAPSHOT/maven-metadata.xml.sha512
